#div1 {height: 600px;width: 1105px;;border:3px solid red;margin-left:200px;}

#sec1 {margin: 30px;}

#img1 {border: 3px solid red;height: 100px; width: 500px; margin-left:150px; margin-top:-870px;}

#mar1 {margin-top:-1900px; margin-left:1000px;}