#img_1{
    height:100%;
    width:100%;
}

#myCanvas
{
   border:10px ridge gold;
   margin-top:-850px;
}

#button1{
    height:50px;
    width:150px;
    border:3px dashed yellow;
    border-radius:10px;
    font-size:20px;
    color:greenyellow;
    margin-top:-1650px;
}

